:root {
--bg1: linear-gradient(-45deg, #e9ecef 0%, #fff 100%, #f8f9fa 10%); 
--bg2: linear-gradient(37deg, rgba(250, 250, 250, 0.8) 0%, #ffffff 100%, rgba(0, 0, 0, 0.15) 100%);;
--bg3: linear-gradient(153deg, rgba(3,79,140,1) 0%, rgba(0,130,235,0.8379726890756303) 26%, rgba(0,88,133,1) 100%);
--bg4: linear-gradient(-5deg, #e9ecef 0%, #fff 100%, #f8f9fa 100%);
}

body {
    background: #e7e9ed;
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 14px!important;
    line-height: 22px!important;}

body::-webkit-scrollbar {
    width: 10px;}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #e5e5e5;
    border-radius: 10px;}

body::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));}

h1 {
    font-size: 30px!important;
    font-weight: 400;
}
h4 {
    font-size: 20px!important;
    font-weight: 300;
}
.btn-primary {
    background-color: #0071cc;
    border-color: rgba(250, 250, 250, 0.8);}

.font-weight-md {
    font-size: 14px;
    font-weight: 500!important;}

.bg-gradient-blue {
    background: linear-gradient(-5deg, #e9ecef 0%, #fff 100%, #f8f9fa 100%);
    box-shadow: 0 10px 20px #ccc;
    margin-top: 10px !important;
    margin-bottom: 1px;
    border-radius: 5px 5px 0 0!important;
    border-top: 0.5px solid #ffffff;
    border-left: 0.5px solid #e4e9ec;
    border-right: 0.5px solid #e4e9ec;}

.navbar-brand {
    display: inline-block;
    padding-top: 5px;
    margin-right: 5px;}

.navbar .navbar-nav {
	font-size: 14px;
    padding: 0;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;}
    @media (min-width: 992px) {
        .navbar .navbar-nav { padding-bottom: 0;}
    }
.navbar-toggler {
    width: 23px!important;}

#menu .dropdown-menu {
    left: -89px!important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px 5px;
    border: none;
    border-radius: 5px;}

@media (min-width: 991px){

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #ffffff;}

}

.navbar .navbar-nav .nav-link {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid transparent;
    transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;}
    .navbar-light .navbar-nav .nav-link.active {
        border-bottom: 4px solid rgb(0, 101, 179);
        transition: all 0.1s cubic-bezier(0, 0, 0, 1) 0.1s;}
    .navbar-light .navbar-nav .nav-link {
        border-bottom: 4px solid transparent;}

.navbar .navbar-nav .nav-link:hover {
    font-size: 14px;
    padding: 10px 15px !important;
    color: rgb(0, 101, 179);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid rgb(0, 101, 179);
	transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 10px 15px !important;}

.navbar-toggler .collapsed button {
    width: 20px;
    height: 20px;}

#header {
    background: #fff;
    position: relative;
    z-index: 1000;}

.login-form {
    padding: 15px!important;
    text-transform: capitalize;}

section.page-header.bg-page-header {
    font-size: 12px;
    line-height: 10px;
    background: rgb(3,79,140);
    background: linear-gradient(153deg, rgba(3,79,140,1) 0%, rgba(0,130,235,0.8379726890756303) 26%, rgba(0,88,133,1) 100%);}


/*-- Sliders --*/

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    background-color: transparent !important;}
    .owl-carousel.single-slider .owl-nav button.owl-prev {
    	left: 7% !important;}
    	.owl-carousel.single-slider .owl-nav button.owl-next {
    		right: 7% !important;} 
	
.owl-carousel.owl-drag .owl-item > .owl-caption h1, .owl-caption1 h1 {
    position: relative;
    color: #fff;
    top: 25%;
    text-align: center;
	z-index: 5;
	animation-duration: 2s;
  	animation-delay: 1s;}
	.owl-carousel.owl-drag .owl-item > .owl-caption h4, .owl-caption1 h4 {
        position: relative;
        color: yellow;
        top: 25%;
        text-align: center;
    	z-index: 10;
    	animation-duration: 2s;
      	animation-delay: 1s;}
        .owl-carousel.owl-drag .owl-item .owl-back {
        	position: absolute;
        	background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%, #a00b10 0%, rgb(0, 101, 179) 90% );
        	opacity: 0.6;
        	top: 0;
        	bottom: 0;
            width: 100%;
            height: 100%;}
            .owl-carousel.owl-drag .owl-item .btn-danger {
            	font-size: 15px;
            	font-weight: 600;}

/*-- Search Form --*/

.progress { 
    height: 5px !important;
    background: linear-gradient(45deg, rgba(250, 250, 250, 0.8) 0%, #f8f9fa 35%, #dee2e6 100%);
    -webkit-transition: none !important;
    transition: none !important;}

.bg-progress {
    background: linear-gradient(45deg, #fff 35%, #ffc107 100%);}

.bg-pattern {
    background-image: url(../img/pattern-travel.png);
    background-size: contain;
    background-blend-mode: luminosity;
    background-position: center;
    opacity: 0.5;}

#search-form {
    position: relative;
    max-width: 800px!important;
    top: -116px;
    margin-bottom: -100px;
    z-index: 2;}

#search-form .nav {
    display: -webkit-inline-box;
    flex-wrap: nowrap;}

#search-form .card {
	top: -68px;
    background-color: rgba(250, 250, 250, 0);
	box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 6px 2px;}
	#search-form .card:hover {
		box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 20px 5px;
		transition: all 0.1s cubic-bezier(0, 0, 0, 1) 0.1s;}

#search-form .card-body {
    border-radius: 0 0 10px 10px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #f8f9fa;}

#search-form .nav-link {
	min-width: 150px;
    height: 65px;
    line-height: 20px;
    padding: 13px 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(119, 119, 119);
    text-align: center;
    border-bottom: 5px solid transparent;}
    #search-form .nav-link:hover {
    	min-width: 150px;
        color: #0071cc;
    	border-bottom: 5px solid rgb(0, 101, 179);
    	transition: all 0.1s cubic-bezier(0, 0, 1, 1) 0.1s;}

#search-form .nav-link.active {
	color: rgb(0, 101, 179) ;
    border-bottom: 5px solid rgb(0, 101, 179);}
		
	#search-form .card-header {
		height: inherit;
	    margin-bottom: 0;
	    background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%, #ccc 0%, #e9ecef 90% );
		border-radius: 10px 10px 0 0;
		overflow-x: auto;
		overflow-y: hidden;}

#flight div.bg-light {
    padding: 10px 15px 0 15px;
    border-radius: 0 0px 10px 10px;}

#hotel div.bg-light {
    padding: 10px 15px 0 15px;
    border-radius: 0 0 10px 10px;}

#train div.bg-light {
    padding: 10px 15px 0 15px;
    border-radius: 0 0 10px 10px;}
		
.btn-search {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;}

.btn-outline-search {
    color: #fff !important;
    background-color: rgb(0, 101, 179) !important;
    border-color: rgb(0, 101, 179) !important;}
    .btn-outline-search:hover {
        background-color: #c2191f;
        color: #ffff !important;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15)!important;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;}

.btn.btn-link.float-right {
    color: #ffc107;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;}
    .btn.btn-link.float-right:hover {
        color: #fff;}

.featured-box .featured-box-icon {
    display: inline-block;
    font-size: 40px!important;
    padding-top: 20px;}

.featured-box.style-4 .featured-box-icon {
    width: 70px !important;
    height: 70px !important;
    font-size: 25px !important;
    color: #fff !important;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15) !important;}
    .featured-box.style-4 .featured-box-icon i.fas {
        font-size: 25px !important;}

.img-fluid {
    max-width: 100%;
    height: 160px !important;}

#back-to-top {
	bottom: 50px !important;
    right: 23px !important;
    background-color: #ccc !important;}
    #back-to-top:hover {
    	background-color: rgb(0, 101, 179) !important;}

/*-- Filter List --*/

#filterTop div > .filter-header {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
    float: left;}
    #filterTop div > .filter-header a.collapsed { 
        color: #000;
        font-weight: 400;}
    #filterTop div > .filter-header a { 
        color: orange;
        font-weight: 400;}

#filterTop div > .filter-header a::after {
    content:"\f107"; 
    font-family: "Font Awesome 5 Free";
    font-size: 18px; 
    font-weight: 900;
    line-height: 19px;
    float: right;
    color: orange;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;}
    #filterTop div > .filter-header a[aria-expanded="true"]:after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);}


#filterTop div > .filter-header a { 
    font-size: 14px;
    padding: 5px 10px;
    background: #fff;
    text-align: left;
    width: 120px;}

#filterTop div > button > i {
    color: orange;
    padding-left: 5px;}

#filterTop div > ul > li > .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #ffc107!important;
    background-color: #ffc107!important;}


/* indicator */

#filterTop div > .filter-header .status {
    position: relative;
    background-color: #fd6372;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border: solid 1px white;
    box-shadow: 0 2px 5px #ccc;
    display: none;
    opacity: 0.3;
    left: -3px;
    top: -35px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;}

#filterTop div > .filter-header a[input:checked] ~ .status::after {
    position: relative;
    background-color: #fd6372;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border: solid 1px white;
    box-shadow: 0 2px 5px #ccc;
    display: block;
    opacity: 1;}

/* indicator */

#filterTop div.card.bg-gradient-blue {
    background: linear-gradient(-5deg, #e9ecef 0%, #fff 100%, #f8f9fa 100%);
    box-shadow: 0 10px 20px #ccc;
    margin-top: 10px !important;
    margin-bottom: 1px;
    border-radius: 5px 5px 0 0!important;
    border-top: 0.5px solid #ffffff;
    border-left: 0.5px solid #e4e9ec;
    border-right: 0.5px solid #e4e9ec;}

#filterTop div > .filter-reset {
    padding: 5px 0px;
    display: block;
    float: left;
    font-size: 14px;
    margin-left: -10px;}
#filterTop div > .filter-header span {
    padding-top: 5px;
    display: block;
    height: 100%;}

#harga-tiket div > span > .irs-bar {
    height: 7px;
    top: 24px;
    background: linear-gradient(45deg, rgba(250, 250, 250, 0.8) 0%, rgba(255, 193, 7, 0.7) 35%, rgb(220, 53, 69) 100%);}
    #harga-tiket div > span > span > .irs-line {
        height: 5px;
        background: linear-gradient(90deg, rgba(250, 250, 250, 0) 0%, #dee2e6 35%, #e4e9ec 100%);}
    #harga-tiket div > span > span > .irs-min {
        color: #999;
        background: #fff;}
    #harga-tiket div > span > span > .irs-max {
        color: #999;
        background: #fff;}
    #harga-tiket div > span > span > .irs-grid-text {
        color: #ccc;
        background: #fff;}
    #harga-tiket div > span > span > .irs-from {
        background: #fff;
        color: #000;}
    #harga-tiket div > span > span > .irs-to {
        background: #fff;
        color: #000;}
    #harga-tiket div > span > span.irs-handle {
        height: 11px;}
        #harga-tiket div > span > span.irs-handle.from i {
            background: #e4e4e4;}
    #harga-tiket div > span > span > .irs-grid-pol {
        background: #ccc;}
    #harga-tiket div > span > span > .irs-grid {
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 20px;}

#harga-tiket div > .ui-state-default, .ui-widget-content .ui-state-default {
    border: 3px solid #fff;
    background-color: #0071cc!important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) !important;}

#harga-tiket div > .ui-slider-horizontal .ui-slider-handle {
    top: -9px;
    margin-left: 0px;
    border-radius: 100%;
    background: #fff;
    width: 20px;
    height: 20px;}
#harga-tiket div > .ui-widget.ui-widget-content {
    background: rgba(0, 0, 0, 0.15);}

#kelas div.form-group, #kereta div.form-group, #jam-berangkat div.form-group, #harga-tiket div.form-group {
    margin: 10px 10px;
    padding: 5px 5px;}

#kelas div > ul, #kereta div > ul, #jam-berangkat div > ul, #harga-tiket div > ul {
    font-size: 15px;
    margin: 0 0;}

#kelas div > ul > li, #kereta div > ul > li, #jam-berangkat div > ul > li, #harga-tiket div > ul > li {
    display: inline-flex;
    max-width: 100%;
    margin: 0px 100px 0px 7px;
    margin-bottom: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    max-height: 100%;
    position: relative;
    line-height: 24px;
    width: 182px;}

@media (min-width: 1140px) {
    #kelas div > ul > li { /*margin-right: 0; width: 130px;*/ }
    #kereta div > ul > li { /*margin-right: 0; width: 140px;*/ }
    #jam-berangkat div > ul > li { margin-right: 165px; width: 185px;}
    #harga-tikets div > ul > li { margin-right: 50%; }
    #slider-range { width: 60%;}
} 

/*-- Dropdown Travellers --*/

.travellers-dropdown {
    z-index: 3000!important;}
    .travellers-dropdown .qty .btn {
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;}


/*-- Avail list --*/

.sticky-top { 
    z-index: 1!important;
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;}

#avail div > .title1, .title2, .station, .duration, .price {
    font-size: 13px;
    font-weight: 300;} 
    #avail div > .title1, .time, .duration, .price {
        font-size: 14px;
        font-weight: 500;} 
        #avail div.card-body:hover {
            -webkit-transition: all 0.1s ease;
            transition: all 0.1s ease;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15) !important;}
            #avail div.card-body {
                border-radius: 5px;}

#sort-avail * > div > a {
    text-align: left;
    font-size: 13px;}
#sort-avail {
    border-radius: 5px;
    background: linear-gradient(-45deg, #fff 100%, rgba(250, 250, 250, 0.8) 100%);
    border-top: 0.5px solid #eee;
    margin-top: -3px;}

#myGroup, #myGroup2 {
    font-size: 13px;
    font-weight: 300;
    color: #999;}

#myGroup ul, #myGroup2 ul {
    margin-bottom: -8px;
    padding-left: 0;
    padding-top: 12px;}
#myGroup ul > li, #myGroup2 ul > li {
    display: inline-flex;
    position: relative;
    top: 0px;
    margin-bottom: -10px;
    text-decoration: none;
    list-style: none;
    padding: 5px 0;
    padding-right: 20px;}
#myGroup ul > li > a:hover, #myGroup2 ul > li > a:hover  {
    border-bottom: 2px solid rgb(0, 101, 179);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;}

#itinerary, #details div > h5 {
    font-size: 15px;
    font-weight: 400;
    color: #000;}

/*-- Order Train --*/

.page-header .breadcrumb {
    font-size: 12px!important;
    font-weight: 400;}

.page-header .breadcrumb > li a {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: white;}

.page-header .breadcrumb > h6 {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: white;
    font-size: 15px;
    font-weight: 500;}

#detilpergi, #detilpulang {
    font-size: 15px;
    font-weight: 500;
    color: green;
    cursor: pointer;
    line-height: 17px;}
    #detilpergi::after, #detilpulang::after {
        content:"\f107"; 
        font-family: "Font Awesome 5 Free";
        font-size: 18px; 
        font-weight: 900;
        line-height: 19px;
        float: right;
        color: green;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;}

#detilpergi.accordion.collapsed::after, #detilpulang.accordion.collapsed::after {
    content:"\f107"; 
    font-family: "Font Awesome 5 Free";}
    #detilpergi.accordion[aria-expanded="true"]:after, #detilpulang.accordion[aria-expanded="true"]:after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);}

.bg-dashed {
    height: 85px;
    position: absolute;
    top: -26px;
    left: 24px;
    border-left: 1px dashed #007bff;}

.title-dashed {
    margin-top: 15px;
    height: 25px;
    color: #999;}

.alert-gray p {
    font-size: 12px;
    font-weight: 300;
    color: #777;
    padding: 5px;
    margin: 0;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #eee;}

.alert-yellow p {
    font-size: 12px;
    font-weight: 300;
    color: #856404;
    padding: 5px;
    margin-bottom: 0;
    border: 1px solid #fff3cd;
    border-radius: 5px;
    background-color: #fff3cd;}

#avail div > #total-bayar {
    background: linear-gradient(37deg, rgba(250, 250, 250, 0.8) 0%, #ffffff 100%, rgba(0, 0, 0, 0.15) 100%);}

#avail div > #aktif-pergi, #aktif-pulang {
    border-bottom: 0.5px dashed rgba(0, 0, 0, 0.15)!important;}

#avail div > #aktif-pergi div.border-right, #aktif-pulang div.border-right {
    border-right: 0.5px dashed rgba(0, 0, 0, 0.15)!important;}

#avail.bg-results {
    background: linear-gradient(-45deg, #e9ecef 0%, #fff 100%, #f8f9fa 10%);
    box-shadow: 0 10px 20px #ccc;
    margin-top: 10px !important;
    margin-bottom: 1px;
    border-radius: 5px 5px 0 0!important;
    border-top: 0.5px solid #ffffff;
    border-left: 0.5px solid #e4e9ec;
    border-right: 0.5px solid #e4e9ec;
    z-index: 1024!important;}

.text-info {
    font-size: 10px;
    color: #ccc!important;
    line-height: 12px;
    padding-top: 5px;
    margin-left: 3px!important;}


/*-- Seat Select --*/

#seat-selected .p-card {
    width: 100%;
    max-width: 180px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;}

#seat-selected .p-card.active {
    border: 1px solid #ffc107;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;}
    .p-card.active .p-chair {
        min-width: 54px;
        background-color: #ffc107;
        position: relative;
        float: left;
        height: 100%;}
        .p-card.active .p-chair h6 {
            font-size: 17px;
            font-weight: 500;
            color: #fff;
            text-align: center;
            padding-top: 14px;
            display: block;
            position: relative;}        
        .p-card.active .p-user {
            width: 100%;
            background-color: #ffc10775;
            height: 100%;
            padding-left: 70px;
            padding-top: 8px;}
            .p-card.active .p-user h6 {
                font-size: 12px;
                font-weight: 500;
                color: #000;}
            .p-card.active .p-user h5 {
                font-size: 12px;
                font-weight: 500;
                line-height: 5px;}

.p-card.selected {
    max-width: 200px;
    border: 1px solid #007bff75;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.10)!important;}
    .p-card.selected .p-chair {
        width: 54px;
        height: 100%;
        padding-top: 15px;
        margin-right: 15px;
        text-align: center;
        background: #007bff40;
        border-radius: 5px 0 0 5px;
        float: left;}
        .p-card.selected .p-chair h6 {
            font-size: 15px;
            font-weight: 600;
            color: #0071cc;}        
        .p-card.selected .p-user {
            width: 100%;
            height: 100%;}
            .p-card.selected .p-user h6 {
                padding-top: 8px;
                font-size: 12px;
                font-weight: 500;
                color: #0071cc;}
            .p-card.selected .p-user h5 {
                font-size: 12px;
                font-weight: 500;
                line-height: 5px;}

#wagon { 
    border-bottom: 1px solid #e5e5e5!important;
    border: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    background: #fff;
    align-content: center;}
    #wagon div > button.btn-wagon {
        border: transparent;
        background-color: transparent;
        cursor: pointer;
        padding: 5px 0 5px 0;}

    #wagon div > #wagon-name h6 {
        font-size: 15px;
        font-weight: 500;
        color: #fff;} 
    #wagon div > #wagon-name p {
        margin-top: -7px;
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 0;
        color: #fff!important;}
    #wagon div > #wagon-name i {
        opacity: 1;}

    #wagon #collapsex {
        text-align: center;
        padding: 0 5px 0 5px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
        border-radius: 0 0 7px 7px;
        box-shadow: 0 2px 10px #dee2e6;
        z-index: 0;
        transition: all 0.2s ease;}

    #wagon #collapsex div > .carousel-control {
        display: block;
        width: 100%;
        min-width: 100px;
        height: 100%;
        background-color: #0000000e;
        padding: 5px 0;
        border-radius: 5px;}
        #wagon #collapsex div > .carousel-control.active {
            background-color: #fff;
            transition-timing-function: ease-out;
            transition: 0.5s;}

    #wagon #collapsex i {
        display: none;}

    #wagon #collapsex p {
        font-size: 10px;
        font-weight: 500;
        line-height: 5px;
        color: #ff0018;
        margin-bottom: 3px;}
    
    #wagon #collapsex h6 {
        font-size: 12px;
        font-weight: 600;
        color: #0071cc;}

    #wagon #collapsex .w-list {
        padding: 1px 0 0 1px;
        border-radius: 5px;
        margin: 5px;
        border: 1px solid #dee2e6;}

@media screen and (max-width: 1140px) and (min-width: 1025px) {
    #wagon #collapsex p {
        font-size: 10px;
        font-weight: 300;
        line-height: 5px;
        color: #fd0018;}

    #wagon #collapsex h6 {
        font-size: 14px;
        font-weight: 500;
        color: #0071cc;}
}

@media screen and (max-width: 425px) {
    
    #wagon #collapsex .w-list h6 {
        font-size: 12px;
        font-weight: 600;
        color: #0071cc;}

    #wagon #collapsex .w-list p {
        font-size: 10px;
        font-weight: 300;
        line-height: 0;
        color: #e50000;}
}

#wagon .w-name {
    width: 100%;
    height: auto;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px 8px 0 0;
    background: var(--bg3);
    box-shadow: 0 8px 15px #ccc;
    z-index: 1;}

#wagon .w-block {
    width: 100%;
    overflow-x: visible;
    position: relative;}

#wagon .w-seat {
    font-size: 10px;
    font-weight: 300;
    padding: 25px 0;
    position: relative;
    display: flex;
    margin-left: 55px;
    margin-right: 55px;}

@media screen and (min-width: 1440px) {

#wagon .w-seat {
    font-size: 12px;
    font-weight: normal;
    padding: 15px 20px;
    position: relative;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;}

#wagon .carousel-control-prev {
    border-radius: 0 5px 5px 0;
    left: -45px!important;}

#wagon .carousel-control-next {
    border-radius: 0 5px 5px 0;
    right: -45px!important;}
}

@media screen and (max-width: 1024px) and (min-width: 425px) {

#wagon .w-seat {
    font-size: 14px;
    font-weight: normal;
    padding: 15px 20px;
    position: relative;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;}

#wagon .carousel-control-prev {
    border-radius: 0 5px 5px 0;
    left: -35px!important;}

#wagon .carousel-control-next {
    border-radius: 0 5px 5px 0;
    right: -35px!important;}
}

#wagon .w-seat .w-col {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    line-height: 26px;
    font-size: 13px;
    font-weight: inherit;
    color: #999;
    margin-right: 7px;
    margin-bottom: 5px;
    display: block;
    position: relative;}

#wagon .w-seat .w-row {
    width: 25px;
    height: 25px;
    border: none;
    font-size: 10px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    color: #0071cc;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;}

#wagon .w-seat .w-chair {    
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;}

#wagon .w-seat .w-booked {    
    width: 25px;
    height: 25px;
    border: 1px solid #cccccc4d;
    border-radius: 5px;
    font-size: 10px;
    line-height: 26px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    color: #f0f0f0;
    background-color: #0000000f;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    transition: opacity 0.5s ease;}
    #wagon .w-seat .w-booked:hover {
        color: #999;
        font-size: 10px;}

#wagon .w-seat .w-chair input {
    display: none;}

.checkmark {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #fff;
    top: -1px;
    left: -1px;
    cursor: pointer;
    transition: opacity 0.5s ease;}

#wagon .w-seat .w-chair:hover input ~ .checkmark {
    background-color: orange;
    border: 1px solid transparent;
    display: block;
    position: relative;}

#wagon .w-seat .w-chair input:checked + .checkmark {
    background-color: #0071cc; /* blue color */
    border: 1px solid transparent;}

#wagon .w-seat .w-chair.active input:focus ~ .checkmark {
    background-color: orange;
    border: 1px solid transparent;
    transition: opacity 0.5s ease;}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;}

#wagon .w-seat .w-chair input:checked ~ .checkmark:after {
    display: block;}

#wagon .w-legend {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    background: var(--bg1);}
    #wagon .w-legend ul {
        list-style: none;
        text-decoration: none;}
    #wagon .w-legend li {
        display: inline-flex;}
        #wagon .w-legend li > h5 {
            font-size: 12px;
            padding-right: 10px;
            margin-left: 10px;
            margin-top: 4px;}
        #wagon .w-legend li > div {
            width: 20px;
            height: 20px;
            border: 1px solid #fff;
            border-radius: 6px;
            background-color: transparent;
            box-shadow: 0 5px 5px #dee2e6;}
        #wagon .w-legend li > div.active {
            background-color: #ffa500;}
        #wagon .w-legend li > div.selected {
            background-color: #0071cc;}
        #wagon .w-legend li > div.available {
            border: 1px solid #ccc!important;
            background-color: #fff;}
        #wagon .w-legend li > div.booked {
            background-color: #0000000f;}

#wagon .carousel-inner {
    overflow-x: auto;
    height: 190px; }

#wagon .carousel-control-next, #wagon .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3% !important;
    text-align: center;
    opacity: 0.5;
    color: #ccc;
    transition: opacity 0.5s ease;}
    #wagon .carousel-control-next:hover , #wagon .carousel-control-prev:hover { 
        color: #ffa500; opacity: 0.8;}
    #wagon .carousel-control-prev { 
        border-radius: 25px 0 0 25px;
        left: -41px;
        background-color: transparent;
        width: 33px !important;}
    #wagon .carousel-control-next { 
        border-radius: 0 25px 25px 0;
        right: -41px;
        background-color: transparent;
        width: 33px !important;}

#wagon select.#w-selected {
    background-color: transparent;
    color: #fff;
    width: auto;}

#wagon div > #cr-wagon .carousel-item:active + .w-list {
    background-color: yellow!important;}

/*-- Footer --*/

